<div class="opinioneswrapper">
  <div class="topcontainer">
    <app-opiniones-top></app-opiniones-top>
  </div>
  <div class="opiniones-container">
    <div>
      <app-opiniones-izquierda-top></app-opiniones-izquierda-top>
      <app-opiniones-izquierda-bot></app-opiniones-izquierda-bot>
    </div>
    <div>
      <app-opiniones-derecha-top [rating]='rating' [usuario]='usuario'></app-opiniones-derecha-top>
      <app-opiniones-derecha-bot></app-opiniones-derecha-bot>
    </div>
  </div>
</div>
