<div class="container">
    <div class="row">
      <div class="col-12">
        <app-vuelos-top></app-vuelos-top>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="app-vuelosleft-top">
          <app-vuelosleft-top></app-vuelosleft-top>
        </div>
        <div class="app-vuelosleft-bot">
          <app-vuelosleft-bot></app-vuelosleft-bot>
        </div>
      </div>
      <div class="col-4">
        <div class="app-vuelos-center">
          <app-vuelos-center></app-vuelos-center>
        </div>
      </div>
      <div class="col-2">
        <div class="app-vuelosright-top">
          <app-vuelosright-top></app-vuelosright-top>
        </div>
        <div class="app-vuelosright-bot">
          <app-vuelosright-bot></app-vuelosright-bot>
        </div>
      </div>
    </div>
  </div>