<div class="opiniones-derecha-top">
  
    <!-- <h1>15 Días en Royalton Hicacos</h1>
    <img src="/assets/muchacha.png" alt="Imagen3" width="90px"> -->
    <mat-card class="transparent-card">
      <mat-card-header>
        <p>15 Días en Royalton Hicacos</p>
      </mat-card-header>
     
      <mat-card-content>
        <div>
          <img src='/assets/{{usuario}}.png' alt="Imagen3"  class="cardimagbody">
        </div>
        <div>
         <p>{{usuario}}</p> <app-star-rating [rating]='rating' ></app-star-rating>
        </div>
       
      </mat-card-content>
     
    </mat-card>
  </div>
  

